<div class="page container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Drag & Drop</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="loadDataClickHandler()"
      >
        Load data
      </button>
      <app-drag-and-drop
        id="movies"
        [isLoading]="(isLoading$ | async)!"
        [config]="dragAndDropConfig"
        [service]="movieService"
        [values]="dragAndDropValues"
        (assignedItemsChange)="assignedItemsChangeHandler($event)"
        (unassignedItemsChange)="unassignedItemsChangeHandler($event)"
      ></app-drag-and-drop>
    </mat-card-content>
  </mat-card>
</div>
