<div class="page container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Drag & Drop</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-drag-and-drop
        [config]="dragAndDropConfig"
        [unassigned]="unassignedItems"
        [assigned]="assignedItems"
        (assignedItemsChange)="assignedItemsChangeHandler($event)"
        (unassignedItemsChange)="unassignedItemsChangeHandler($event)"
      ></app-drag-and-drop>
    </mat-card-content>
  </mat-card>
</div>
