<div class="container todo-index-page">
  <div class="todo-index-page__todo-panel">
    <h1 class="todo-index-page__title">Todo list</h1>
    <div class="todo-index-page__list">
      <mat-selection-list>
        @for (todoItem of todosEntities$ | async; track todoItem.id) {
        <mat-list-option
          [selected]="todoItem.isCompleted"
          (selectedChange)="toggleTodoCompleteHandler($event, todoItem)"
        >
          {{ todoItem.description }}
        </mat-list-option>
        } @empty {
        <mat-list-item [disabled]="true" class="text-center">
          Agrega alguna tarea
        </mat-list-item>
        }
      </mat-selection-list>
    </div>
    <div class="todo-index-page__input">
      <mat-form-field appearance="outline">
        <mat-label>Agregar una tarea</mat-label>
        <input
          matInput
          placeholder="Ej: Comprar servilletas"
          [(ngModel)]="todoDescription"
          (keyup.enter)="addTodoHandler()"
        />
        <mat-icon matSuffix>send</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
