<div [id]="id" class="drag-and-drop">
  <div class="drag-and-drop__container" cdkDropListGroup>
    <app-drag-and-drop-panel
      #unassignedPanel
      side="left"
      [config]="config.left"
      [items]="unassignedItems"
      (drop)="onUnassignedPanelDropHandler($event)"
    ></app-drag-and-drop-panel>

    <app-drag-and-drop-actions
      (moveToAsssigned)="moveToAsssignedHandler()"
      (moveToUnasssigned)="moveToUnasssignedHandler()"
    ></app-drag-and-drop-actions>

    <app-drag-and-drop-panel
      #assignedPanel
      side="right"
      [config]="config.right"
      [items]="assignedItems"
      (drop)="onAssignedPanelDropHandler($event)"
    ></app-drag-and-drop-panel>
  </div>
</div>
