@use "@angular/material" as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
  )
);

// @include mat.core-color($light-theme);
// @include mat.all-component-themes($light-theme);

// .dark-mode {
@include mat.core-color($dark-theme);
@include mat.all-component-themes($dark-theme);
// }
// @media (prefers-color-scheme: light) {

// }

// @media (prefers-color-scheme: dark) {
//   @include mat.core-color($dark-theme);
//   @include mat.all-component-themes($dark-theme);
// }
