@use "@angular/material" as mat;

@include mat.core();

$color: (
  primary: mat.define-palette(mat.$deep-purple-palette),
  accent: mat.define-palette(mat.$amber-palette),
);

$dark-theme: mat.define-dark-theme(
  (
    color: $color,
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: $color,
  )
);

@include mat.core-color($dark-theme);
@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}
