<div class="drag-and-drop__actions">
  <div class="drag-and-drop__actions-list">
    <button
      color="primary"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Example icon-button with a heart icon"
      (click)="onMoveToAssigned()"
    >
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
    <button
      color="primary"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Example icon-button with a heart icon"
      (click)="onMoveToAssigned()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      color="primary"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Example icon-button with a heart icon"
      (click)="onMoveToUnassigned()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      color="primary"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Example icon-button with a heart icon"
      (click)="onMoveToUnassigned()"
    >
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
</div>
