<mat-toolbar color="primary" *ngIf="isTopBarVisible$ | async">
  <div class="container d-flex align-items-center">
    <span>Demo NgRx</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="toggleThemeClickHandler()"
    >
      @if (isDarkMode) {
      <mat-icon>dark_mode</mat-icon>
      } @else {
      <mat-icon>light_mode</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
