<div class="drag-and-drop__panel">
  <h2>{{ config.title }}</h2>
  <div
    [id]="'drag-and-drop-panel-' + side"
    class="drag-and-drop__panel-list"
    role="list"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (item of items; track $index) {
    <div role="listitem" cdkDrag class="drag-and-drop__panel-list-item">
      <mat-icon>drag_indicator</mat-icon>
      <mat-checkbox *ngIf="config.isSelectable"></mat-checkbox>
      <div class="drag-and-drop__item-label">
        {{ item.id + " - " + item.description }}
      </div>
      <span
        class="drag-and-drop__item-status"
        [ngClass]="statusClass"
        *ngIf="config.hasStatus"
      ></span>
      <button mat-icon-button color="primary" *ngIf="config.hasActionButton">
        <mat-icon>{{ config.actionButtonIcon }}</mat-icon>
      </button>
    </div>
    }
  </div>
</div>
